/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v30/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v30/o-0NIpQlx3QUlC5A4PNjXhFVZNyE.ttf) format('truetype');
}
:root {
  font-family: 'Noto Sans', sans-serif;
}
p {
  line-height: 1.6;
}
:root {
  --primary-color: 246, 189, 72;
  --on-primary-color: 65, 45, 0;
  --secondary-color: 178, 207, 167;
  --on-secondary-color: 31, 54, 26;
  --secondary-container-color: 53, 77, 47;
  --on-secondary-container-color: 206, 235, 194;
  --surface-color: 30, 27, 22;
  --on-surface-color: 233, 225, 217;
  --surface-conatiner-color: 24, 24, 24;
  --on-surface-conatiner-color: 255, 255, 255;
  --outline-color: 154, 143, 128;
  --error-color: 147, 0, 10;
  --on-error-color: 255, 218, 214;
  --overlay-hover-color: 0, 0, 0, 0.2;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --backdrop-color: 0, 0, 0, 0.2;
  --backdrop-filter: blur(2px);
}
button.component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button.component.disabled {
  cursor: default;
}
button.component:hover:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(var(--overlay-hover-color)), rgba(var(--overlay-hover-color)));
  box-shadow: var(--box-shadow);
}
button.component.contained {
  background-color: rgba(var(--primary-color));
  color: rgba(var(--on-primary-color));
  box-shadow: var(--box-shadow);
}
button.component.contained.disabled {
  background-color: rgba(var(--primary-color), 0.3);
  filter: grayscale(1);
}
button.component.outlined {
  color: rgba(var(--primary-color));
  border: 1px solid rgba(var(--primary-color));
  border-radius: 4px;
}
button.component.text {
  color: rgba(var(--primary-color));
}
button.component.text.disabled {
  color: rgba(var(--primary-color), 0.3);
}
.input.component {
  width: 100%;
  border: 1px solid rgba(var(--outline-color));
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  padding-left: 6px;
  padding-bottom: 6px;
}
.input.component.disabled {
  border: 1px solid rgba(var(--on-surface-color), 0.3);
  color: rgba(var(--on-surface-color), 0.3);
  cursor: not-allowed;
  user-select: none;
}
.input.component > legend {
  padding: 0 6px;
  font-size: 12px;
}
.input.component.active {
  border: 1px solid rgba(var(--primary-color));
}
.input.component.active > legend {
  color: rgba(var(--primary-color));
}
.input.component.required > legend::after {
  content: "*";
  margin: 0 0 0 4px;
  color: rgba(var(--error-color));
}
.input.component > input,
.input.component > textarea {
  padding: 2px 12px 6px 6px;
  width: 100%;
}
.input.component > input::placeholder,
.input.component > textarea::placeholder {
  color: rgba(var(--on-surface-color), 0.3);
}
.input.component > textarea {
  height: 100px;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--backdrop-color));
  backdrop-filter: var(--backdrop-filter);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.alert.component {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.alert.component > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.alert.component > p {
  padding: 0 24px 20px;
}
.alert.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.error-alert.component {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.error-alert.component > h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.error-alert.component > p {
  padding: 0 24px 20px;
}
.error-alert.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.confirm.component {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.confirm.component > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.confirm.component > p {
  padding: 0 24px 20px;
}
.confirm.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.warning-message-box.component {
  display: flex;
  background-color: rgba(var(--secondary-container-color));
  color: rgba(var(--on-secondary-container-color));
  padding: 24px;
  border-radius: 12px;
  gap: 12px;
}
.warning-message-box.component > i {
  font-size: 24px;
}
:root {
  --primary-color: 208, 188, 255;
  --on-primary-color: 56, 30, 114;
  --rising-color: 0, 166, 126;
  --falling-color: 251, 101, 101;
}
html,
body {
  background-color: #1b1b1b;
  color: #e1e1e1;
  height: 100%;
  font-size: 14px;
}
@keyframes profile-image-loading {
  0% {
    background-position-x: -24px;
  }
  100% {
    background-position-x: 24px;
  }
}
.layout {
  padding-top: 60px;
  padding-left: 80px;
  height: 100%;
}
@media only screen and (max-width: 859px) {
  .layout {
    padding-left: 0;
    padding-bottom: 80px;
  }
}
.layout > header {
  position: fixed;
  justify-content: space-between;
  left: 0;
  top: 0;
  background-color: #530087;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
@media only screen and (max-width: 859px) {
  .layout > header {
    padding: 0 12px 0 18px;
  }
}
.layout > header > .logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.layout > header > .logo > img {
  height: 32px;
  display: block;
}
.layout > header > .logo > .beta {
  font-size: 12px;
  color: #fff;
  font-style: italic;
}
.layout > main {
  height: 100%;
}
.layout > nav {
  position: fixed;
  display: flex;
  left: 0;
  top: 60px;
  flex-direction: column;
  background-color: #2d2d2d;
  width: 80px;
  height: calc(100% - 60px);
  padding: 12px 0;
}
@media only screen and (max-width: 859px) {
  .layout > nav {
    top: auto;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 0;
    justify-content: center;
  }
}
.layout > nav > a {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  color: #7f7f7f;
}
.layout > nav > a > .icon {
  font-size: 30px;
}
.layout > nav > a:hover {
  color: #e1e1e1;
}
.layout > nav > a.active {
  color: #fff;
}
.rooms-view {
  height: 100%;
}
@media only screen and (max-width: 859px) {
  .rooms-view {
    overflow-y: auto;
    padding-bottom: 60px;
  }
}
.rooms-view > .rooms {
  width: 360px;
  height: 100%;
  border-right: 1px solid #2d2d2d;
  background-color: #1e1e1e;
  overflow-y: auto;
  padding-bottom: 60px;
}
@media only screen and (max-width: 859px) {
  .rooms-view > .rooms {
    width: 100%;
    height: auto;
    border: none;
    overflow-y: auto;
    padding-bottom: 0;
  }
}
.room-view {
  position: fixed;
  left: 440px;
  top: 60px;
  width: calc(100% - 440px);
  height: calc(100% - 60px);
  padding-top: 60px;
  background-color: #222222;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 859px) {
  .room-view {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.activity-view {
  background-color: #1e1e1e;
  height: 100%;
  display: flex;
}
@media only screen and (max-width: 859px) {
  .activity-view {
    display: block;
    overflow-y: auto;
    padding-bottom: 60px;
  }
}
.activity-view > .activity-list-container {
  flex: 1 1 0px;
  border-right: 1px solid #2d2d2d;
  overflow-y: auto;
  padding-bottom: 60px;
}
@media only screen and (max-width: 859px) {
  .activity-view > .activity-list-container {
    overflow-y: visible;
    padding-bottom: 0;
  }
}
.activity-view > .activity-list-container > h2 {
  font-size: 28px;
  color: #666;
  padding: 16px;
}
.explorer-view {
  background-color: #1e1e1e;
  height: 100%;
  display: flex;
}
@media only screen and (max-width: 859px) {
  .explorer-view {
    display: block;
    overflow-y: auto;
    padding-bottom: 60px;
  }
}
.explorer-view > .token-list-container {
  flex: 1 1 0px;
  border-right: 1px solid #2d2d2d;
  overflow-y: auto;
  padding-bottom: 60px;
}
@media only screen and (max-width: 859px) {
  .explorer-view > .token-list-container {
    overflow-y: visible;
    padding-bottom: 0;
  }
}
.explorer-view > .token-list-container > h2 {
  font-size: 28px;
  color: #666;
  padding: 16px;
}
.settings-view {
  background-color: #1e1e1e;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}
.settings-view > h1 {
  font-size: 32px;
}
.settings-view > section {
  margin-top: 20px;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 20px;
}
.settings-view > section > h2 {
  font-size: 24px;
  color: #999;
  margin-bottom: 10px;
}
.settings-view > section > p {
  color: #999;
  margin-bottom: 10px;
  word-break: break-all;
}
.settings-view > section > p > a {
  color: rgba(var(--primary-color));
  cursor: pointer;
}
.settings-view > section > p > a:hover {
  text-decoration: underline;
}
.user-info-view {
  background-color: #1e1e1e;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}
.user-info-view > h1 {
  padding-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-info-view > h1 > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user-info-view > h1 > .name {
  flex-grow: 1;
  font-weight: bold;
}
.user-info-view > main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.user-info-view > main > .social-links > li {
  display: flex;
  gap: 8px;
}
.user-info-view > main > .social-links > li > a {
  color: rgba(var(--primary-color));
}
.user-info-view > main > .social-links > li > a:hover {
  text-decoration: underline;
}
.user-info-view > .tabs {
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
}
.user-info-view > .token-list {
  display: none;
}
.user-info-view > .token-list.active {
  display: block;
}
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #530087;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px 120px;
  z-index: 9999;
}
@media only screen and (max-width: 859px) {
  .splash-screen {
    background-size: 48px 48px;
  }
}
.user-summary > .x-login-button {
  cursor: pointer;
  min-width: 200px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
@keyframes token-summary-loading {
  0% {
    background-position-x: -200px;
  }
  100% {
    background-position-x: 200px;
  }
}
.token-summary {
  min-width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1e1e1e;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 14px 0 8px;
  box-shadow: var(--box-shadow);
  font-size: 16px;
  color: #e1e1e1;
  gap: 8px;
}
.token-summary:hover {
  background-color: #2e2e2e;
}
.token-summary > .profile-image {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.token-summary > .symbol {
  font-weight: bold;
  border-right: 1px solid #6e6e6e;
  padding-right: 8px;
}
.token-summary > .price {
  color: #999;
}
.token-summary.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: token-summary-loading 2s infinite linear;
}
@keyframes list-loading {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #2b2b2b;
  }
}
.list-loading {
  height: 40px;
  animation: list-loading 1s linear infinite alternate;
}
.tabs {
  display: flex;
}
.tabs > .tab {
  padding: 12px 16px;
  cursor: pointer;
  text-align: center;
}
.tabs > .tab.active {
  color: rgba(var(--primary-color));
  border-bottom: 2px solid rgba(var(--primary-color));
}
.profile-image-display {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}
.profile-image-display.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: profile-image-loading 2s infinite linear;
}
.profile-image-display > img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.profile-image-display.online::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff00;
}
.favorite-button {
  display: block;
  cursor: pointer;
  color: #e1e1e1;
}
.favorite-button:hover {
  color: #ff8a00;
}
.favorite-button > .icon {
  display: block;
}
.room-list {
  border-bottom: 1px solid #2d2d2d;
}
.room-list > header {
  padding: 16px;
  font-size: 16px;
}
.room-item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}
.room-item > .profile-image-display {
  display: flex;
  flex-shrink: 0;
}
.room-item > .info {
  min-width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.room-item > .info > .room-info {
  display: flex;
  gap: 8px;
  align-items: center;
}
.room-item > .info > .room-info > .room-name {
  font-size: 18px;
  font-weight: bold;
  flex-grow: 1;
  min-width: 0;
  text-shadow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.room-item > .info > .room-info > .token-owner {
  font-size: 12px;
  color: #7f7f7f;
  flex-shrink: 0;
}
.room-item > .info > .room-info > .price {
  font-size: 12px;
  color: #7f7f7f;
  flex-shrink: 0;
}
.room-item > .info > .room-info > .price.up {
  color: rgba(var(--rising-color));
}
.room-item > .info > .room-info > .price.down {
  color: rgba(var(--falling-color));
}
.room-item > .info > .last-message {
  font-size: 12px;
  color: #7f7f7f;
  display: flex;
  gap: 8px;
  align-items: center;
}
.room-item > .info > .last-message > .message {
  flex-grow: 1;
  min-width: 0;
  text-shadow: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.room-item > .info > .last-message > .time {
  flex-shrink: 0;
}
@keyframes room-loading-animation {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
.room-loading {
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-loading > main {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.room-loading > main .spinner {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(var(--primary-color));
  animation: room-loading-animation 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.room-loading > main .spinner:after,
.room-loading > main .spinner:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgba(var(--primary-color));
}
.room-loading > main .spinner:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.room-loading > main .spinner:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
.room-title-bar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1f1f1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
}
@media only screen and (max-width: 859px) {
  .room-title-bar {
    padding: 0 12px;
    background-color: #530087;
  }
}
.room-title-bar > h1 {
  font-size: 20px;
  cursor: pointer;
}
@media only screen and (max-width: 859px) {
  .room-title-bar > h1 {
    display: none;
  }
}
@media only screen and (max-width: 859px) {
  .room-title-bar > .pc-favorite-button {
    display: none;
  }
}
.room-title-bar > .mobile-favorite-button {
  display: none;
  color: #999;
}
@media only screen and (max-width: 859px) {
  .room-title-bar > .mobile-favorite-button {
    display: block;
    margin-right: auto;
  }
}
.room-title-bar > .token-summary-container {
  margin-left: auto;
}
@media only screen and (max-width: 859px) {
  .room-title-bar > .token-summary-container {
    margin-left: 0;
  }
}
.room-title-bar > .close-button {
  display: none;
  cursor: pointer;
  color: #999;
}
@media only screen and (max-width: 859px) {
  .room-title-bar > .close-button {
    display: block;
  }
}
.room-title-bar > .close-button > .icon {
  display: block;
}
.room-title-bar > .close-button:hover {
  color: #fff;
}
.token-purchase-form {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
  background-color: #222222;
}
.token-purchase-form.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.token-purchase-form > .profile-image-display {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.token-purchase-form > .profile-image-display > img {
  width: 120px;
  height: 120px;
}
.token-purchase-form > .icon {
  font-size: 30px;
  color: #666;
  margin-bottom: 12px;
}
.token-purchase-form > .message {
  max-width: 300px;
  margin-bottom: 20px;
  text-align: center;
  color: #999;
}
.token-purchase-form > .message > b {
  color: rgba(var(--primary-color));
  font-weight: bold;
}
.token-purchase-form > .buy-token-button {
  width: 260px;
  height: 40px;
  font-weight: bold;
}
.token-purchase-form > .last-message-sent-at {
  margin-top: 20px;
  color: #666;
  font-size: 12px;
}
.chat-room {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chat-room > .message-list {
  height: 0px;
  flex-grow: 1;
  overflow-y: scroll;
}
.message-item {
  display: flex;
  gap: 5px;
  margin: 8px;
  font-size: 15px;
  line-height: 1.6;
  align-items: flex-start;
}
.message-item > .author {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.message-item > .author > .profile-image {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-top: 2px;
}
.message-item > .author > .name {
  font-weight: bold;
  color: #6699cc;
}
.message-item > .message {
  flex-grow: 1;
  color: #dcdcdc;
}
.message-item > .files {
  flex-grow: 1;
}
.message-item > .files > .file > a {
  color: var(--link-blue);
  text-decoration: underline;
}
.message-item > .files > .file > a:focus {
  outline: 1px dotted var(--link-blue);
}
.message-item > .files > .file > a > img {
  height: 32px;
}
.message-item > .emojis {
  flex-grow: 1;
}
.message-item > .emojis > .emoji {
  width: 32px;
  height: 32px;
}
.message-item > .time {
  font-size: 12px;
  color: #999;
}
.message-item.wait > .message {
  color: #999;
}
@keyframes upload-loading {
  0% {
    background-position-x: -12px;
  }
  100% {
    background-position-x: 12px;
  }
}
.message-form {
  display: flex;
  align-items: center;
  background-color: #252526;
  border-top: 1px solid #333;
  padding: 6px;
  gap: 6px;
}
.message-form > input.upload-input {
  display: none;
}
.message-form > .emoji-button,
.message-form > .upload-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #999;
  width: 24px;
  height: 24px;
}
.message-form > .emoji-button:hover,
.message-form > .upload-button:hover {
  color: #fff;
}
.message-form > .emoji-button.loading,
.message-form > .upload-button.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: upload-loading 2s infinite linear;
}
.message-form > form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 6px;
}
.message-form > form > input {
  flex-grow: 1;
  height: 100%;
  padding: 8px 0;
  background-color: #252526;
  color: #dcdcdc;
  font-family: NotoSansKR;
  font-size: 15px;
}
.trade-activity-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}
.trade-activity-item > .profile-image-container {
  display: flex;
  flex: 0 0 84px;
}
.trade-activity-item > .profile-image-container > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}
.trade-activity-item > .profile-image-container > .profile-image.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: profile-image-loading 2s infinite linear;
}
.trade-activity-item > .profile-image-container > .profile-image:last-of-type {
  margin-left: -12px;
}
.trade-activity-item > .info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.trade-activity-item > .info-container > .info > .price.up {
  color: rgba(var(--rising-color));
}
.trade-activity-item > .info-container > .info > .price.down {
  color: rgba(var(--falling-color));
}
.trade-activity-item > .info-container > .info > a {
  color: rgba(var(--primary-color));
  cursor: pointer;
}
.trade-activity-item > .info-container > .info > a:hover {
  text-decoration: underline;
}
.token-created-activity-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}
.token-created-activity-item > .profile-image-container {
  display: flex;
  flex: 0 0 48px;
}
.token-created-activity-item > .profile-image-container > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}
.token-created-activity-item > .profile-image-container > .profile-image.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: profile-image-loading 2s infinite linear;
}
.token-created-activity-item > .info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-created-activity-item > .info-container > .info > a {
  color: rgba(var(--primary-color));
  cursor: pointer;
}
.token-created-activity-item > .info-container > .info > a:hover {
  text-decoration: underline;
}
.token-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
  cursor: pointer;
}
.token-item > .profile-image-container {
  display: flex;
  flex: 0 0 48px;
}
.token-item > .profile-image-container > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}
.token-item > .profile-image-container > .profile-image.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: profile-image-loading 2s infinite linear;
}
.token-item > .info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-item > .info-container > .info > .price.up {
  color: rgba(var(--rising-color));
}
.token-item > .info-container > .info > .price.down {
  color: rgba(var(--falling-color));
}
.token-item > .info-container > .info > a {
  color: rgba(var(--primary-color));
  cursor: pointer;
}
.token-item > .info-container > .info > a:hover {
  text-decoration: underline;
}
.member-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
  align-items: center;
}
.member-item > .user {
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
}
.member-item > .user > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
  flex: 0 0 48px;
}
.member-item > .user > .profile-image.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: profile-image-loading 2s infinite linear;
}
.member-item > .user > .name {
  flex-grow: 1;
  font-size: 16px;
}
.change-chain-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.change-chain-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.change-chain-popup > main {
  padding: 0 24px 20px;
}
.change-chain-popup > main > img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.change-chain-popup > main > p {
  margin-bottom: 20px;
}
.change-chain-popup > main > a {
  color: rgba(var(--primary-color));
}
.change-chain-popup > main > a:hover {
  text-decoration: underline;
}
.change-chain-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.change-wallet-address-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.change-wallet-address-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.change-wallet-address-popup > main {
  padding: 0 24px 20px;
}
.change-wallet-address-popup > main > p > b {
  color: rgba(var(--primary-color));
}
.change-wallet-address-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
@keyframes emoji-loading {
  0% {
    background-position-x: -16px;
  }
  100% {
    background-position-x: 16px;
  }
}
.select-emoji-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
  min-height: 0;
}
.select-emoji-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.select-emoji-popup > main {
  padding: 0 24px 20px;
  overflow-y: auto;
  text-align: center;
}
.select-emoji-popup > main > button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  margin-right: 4px;
  margin-bottom: 4px;
  min-width: 46px;
  min-height: 46px;
  border-radius: 4px;
  border: 1px solid rgba(var(--on-surface-conatiner-color), 0.2);
}
.select-emoji-popup > main > button.selected {
  border-color: rgba(var(--primary-color));
  background: rgba(var(--primary-color), 0.2);
}
.select-emoji-popup > main > button > img {
  display: block;
  width: 46px;
  height: 46px;
  margin: auto;
}
.select-emoji-popup > main > button > img.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: emoji-loading 2s infinite linear;
}
.select-emoji-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.connect-wallet-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.connect-wallet-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.connect-wallet-popup > main {
  padding: 0 24px 20px;
}
.connect-wallet-popup > main > p > ol {
  padding: 24px 24px 0;
  list-style-type: decimal;
}
.connect-wallet-popup > main > p > ol > li {
  margin-bottom: 24px;
}
.connect-wallet-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.user-info-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.user-info-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-info-popup > h1 > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.user-info-popup > h1 > .name {
  flex-grow: 1;
  font-weight: bold;
}
.user-info-popup > h1 > .close-button {
  cursor: pointer;
  color: #999;
}
.user-info-popup > h1 > .close-button > .icon {
  display: block;
}
.user-info-popup > h1 > .close-button:hover {
  color: #fff;
}
.user-info-popup > main {
  padding: 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.user-info-popup > main > .social-links > li {
  display: flex;
  gap: 8px;
}
.user-info-popup > main > .social-links > li > a {
  color: rgba(var(--primary-color));
}
.user-info-popup > main > .social-links > li > a:hover {
  text-decoration: underline;
}
.user-info-popup > .tabs {
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
}
.user-info-popup > .token-list {
  display: none;
  max-height: 400px;
  overflow-y: scroll;
}
.user-info-popup > .token-list.active {
  display: block;
}
.user-info-popup > footer {
  border-top: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.create-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.create-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.create-token-popup > main {
  padding: 0 24px 20px;
}
.create-token-popup > main > form > .select,
.create-token-popup > main > form > .input,
.create-token-popup > main > form > .button,
.create-token-popup > main > form > .message-box {
  margin-top: 16px;
}
.create-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.token-info-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.token-info-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}
.token-info-popup > h1 > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.token-info-popup > h1 > .name-and-symbol {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media only screen and (max-width: 859px) {
  .token-info-popup > h1 > .name-and-symbol {
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }
}
.token-info-popup > h1 > .name-and-symbol > .name {
  font-weight: bold;
}
@media only screen and (max-width: 859px) {
  .token-info-popup > h1 > .name-and-symbol > .name {
    font-size: 14px;
  }
}
.token-info-popup > h1 > .name-and-symbol > .symbol {
  font-size: 16px;
  color: #999;
}
@media only screen and (max-width: 859px) {
  .token-info-popup > h1 > .name-and-symbol > .symbol {
    font-size: 12px;
  }
}
.token-info-popup > h1 > .edit-button-container {
  flex-grow: 1;
}
.token-info-popup > h1 > .edit-button-container > a {
  display: block;
  cursor: pointer;
  color: #999;
}
.token-info-popup > h1 > .edit-button-container > a > .icon {
  display: block;
}
.token-info-popup > h1 > .edit-button-container > a:hover {
  color: #fff;
}
.token-info-popup > h1 > .edit-button-container > a.hidden {
  display: none;
}
.token-info-popup > main {
  padding: 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.token-info-popup > main > .price-and-fees {
  width: 100%;
  display: flex;
  gap: 20px;
}
.token-info-popup > main > .price-and-fees > .price-container,
.token-info-popup > main > .price-and-fees > .fees-container {
  width: 50%;
  border: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.token-info-popup > main > .price-and-fees > .price-container > label,
.token-info-popup > main > .price-and-fees > .fees-container > label {
  font-size: 12px;
  color: #999;
}
.token-info-popup > main > .price-and-fees > .price-container > .price,
.token-info-popup > main > .price-and-fees > .fees-container > .price,
.token-info-popup > main > .price-and-fees > .price-container > .fees,
.token-info-popup > main > .price-and-fees > .fees-container > .fees {
  font-size: 16px;
  font-weight: bold;
}
.token-info-popup > main > .trade-info {
  display: flex;
  gap: 12px;
  align-items: center;
}
.token-info-popup > main > .trade-info > .balance {
  height: 36px;
  border-radius: 18px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 0 14px 0 8px;
  box-shadow: var(--box-shadow);
  font-size: 16px;
  color: #e1e1e1;
  gap: 8px;
}
.token-info-popup > main > .trade-info > .balance > .profile-image {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.token-info-popup > main > .trade-info > .balance > label {
  font-weight: bold;
  border-right: 1px solid #6e6e6e;
  padding-right: 8px;
}
.token-info-popup > main > .trade-info > .balance > .balance {
  color: #999;
}
.token-info-popup > .tabs {
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
}
.token-info-popup > .member-list,
.token-info-popup > .activity-list {
  display: none;
  max-height: 400px;
  overflow-y: scroll;
}
.token-info-popup > .member-list.active,
.token-info-popup > .activity-list.active {
  display: block;
}
.token-info-popup > footer {
  border-top: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.trade-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.trade-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.trade-token-popup > main {
  padding: 0 24px 20px;
}
.trade-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.buy-token-popup {
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.buy-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.buy-token-popup > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}
.buy-token-popup > main > .profile-image-display {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.buy-token-popup > main > .profile-image-display > img {
  width: 120px;
  height: 120px;
}
.buy-token-popup > main > table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(var(--on-surface-color), 0.12);
  border-radius: 4px;
  margin-bottom: 20px;
}
.buy-token-popup > main > table > tr > th {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(var(--on-surface-color), 0.12);
  font-size: 14px;
  color: rgba(var(--on-surface-color), 0.87);
}
.buy-token-popup > main > table > tr > td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(var(--on-surface-color), 0.12);
  font-size: 14px;
  color: rgba(var(--on-surface-color), 0.87);
  text-align: right;
}
.buy-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.sell-token-popup {
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.sell-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.sell-token-popup > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
}
.sell-token-popup > main > .profile-image-display {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}
.sell-token-popup > main > .profile-image-display > img {
  width: 120px;
  height: 120px;
}
.sell-token-popup > main > table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(var(--on-surface-color), 0.12);
  border-radius: 4px;
  margin-bottom: 20px;
}
.sell-token-popup > main > table > tr > th {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(var(--on-surface-color), 0.12);
  font-size: 14px;
  color: rgba(var(--on-surface-color), 0.87);
}
.sell-token-popup > main > table > tr > td {
  padding: 12px 16px;
  border-bottom: 1px solid rgba(var(--on-surface-color), 0.12);
  font-size: 14px;
  color: rgba(var(--on-surface-color), 0.87);
  text-align: right;
}
.sell-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.edit-token-info-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.edit-token-info-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.edit-token-info-popup > main {
  padding: 0 24px 20px;
}
.edit-token-info-popup > main > form {
  margin-bottom: 4px;
}
.edit-token-info-popup > main > form > footer {
  padding: 8px 0;
  display: flex;
  justify-content: flex-end;
}
.edit-token-info-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

