:root {
    --wrapper-bg-color: #0A0A0A;
    --content-bg-color: #131313;
    --text-color      : #fff;
    --line-color      : #242424;
    --primary-color   : #9B4CFF;
    --popup-bg-color  : rgba(0, 0, 0, 0.5);
    --button-bg-color : rgba(155, 76, 255, 0.12);
    --hover-color     : rgba(155, 76, 255, 0.12);
}

.profile-image {
    flex-shrink     : 0;
    width           : 50px;
    height          : 50px;
    border-radius   : 50%;
    background-color: #252525;
    background-size : cover;

    @container (width < @safe-width) {
        width : 34px;
        height: 34px;
    }
}