@import "../../../@common-module/social/style/index.less";

:root {
    --wrapper-bg-color: #0A0A0A;
    --content-bg-color: #131313;
    --text-color      : #fff;
    --line-color      : #242424;
    --primary-color    : #9B4CFF;
    --popup-bg-color  : rgba(0, 0, 0, 0.5);
    --button-bg-color : rgba(155, 76, 255, 0.12);
    --hover-color     : rgba(155, 76, 255, 0.12);
}

@import "layout/layout.less";
@import "layout/title-bar.less";
@import "layout/side-panel.less";
@import "layout/title-bar/title-bar-user-display.less";