/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!../app-module/style/reset.css ***!
  \***********************************************************************************************************/
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio, summary):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/less-loader/dist/cjs.js!./public/style/main.less ***!
  \*********************************************************************************************************************************************/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
:root {
  --wrapper-bg-color: #121212;
  --content-bg-color: #141414;
  --text-color: #fff;
  --line-color: #252527;
  --primary-color: #C1A87D;
  --error-color: #FF0000;
  --warning-color: #FFA500;
  --warning-bg-color: rgba(255, 165, 0, 0.12);
  --success-color: #00FF00;
  --popup-bg-color: rgba(0, 0, 0, 0.5);
  --button-bg-color: rgba(193, 168, 125, 0.12);
  --hover-color: rgba(193, 168, 125, 0.12);
  --disable-color: rgba(255, 255, 255, 0.5);
  --loading-bar-bg-color: rgba(193, 168, 125, 0.1);
  --loading-bar-color: rgba(193, 168, 125, 0.5);
  width: 100%;
  height: 100%;
  background-color: var(--wrapper-bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  container-type: inline-size;
}
p {
  line-height: 1.6em;
}
a {
  cursor: pointer;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
::placeholder {
  color: var(--disable-color);
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 24;
}
button.component {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  color: var(--primary-color);
  line-height: 1em;
  gap: 8px;
}
button.component.disabled {
  cursor: not-allowed;
  filter: grayscale(1);
}
button.component.contained {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--button-bg-color);
}
button.component > .title {
  text-transform: capitalize;
}
.nav-bar.component {
  position: fixed;
  left: calc(50% - 1280px / 2);
  top: 0;
  z-index: 999990;
  width: 90px;
  height: 100%;
  background-color: var(--wrapper-bg-color);
  border-right: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-bottom: 32px;
  overflow-y: auto;
}
@container (width < 1280px) {
  .nav-bar.component {
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: calc(90px + env(safe-area-inset-bottom));
    padding-bottom: calc(6px + env(safe-area-inset-bottom));
    border-top: 1px solid var(--line-color);
    border-right: none;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 0;
    overflow-y: visible;
  }
  .nav-bar.component::before,
  .nav-bar.component::after {
    content: '';
  }
}
.nav-bar.component > h1.logo {
  padding: 21px 0;
}
@container (width < 1280px) {
  .nav-bar.component > h1.logo {
    display: none;
  }
}
.nav-bar.component > h1.logo > a > img {
  max-width: 55px;
  max-height: 55px;
}
.nav-bar.component > a.menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  font-size: 12px;
}
.nav-bar.component > a.menu > .icon {
  font-size: 42px;
}
.nav-bar.component > a.menu.active {
  color: var(--primary-color);
}
.splash-screen.component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.splash-screen.component > img {
  max-width: 120px;
  max-height: 120px;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: var(--popup-bg-color);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.popup.component {
  max-width: 614px;
  width: 90%;
  margin: auto;
  border: 1px solid var(--line-color);
  border-radius: 16px;
  background-color: var(--content-bg-color);
}
.popup.component > header {
  display: flex;
  align-items: center;
  padding: 24px;
}
.popup.component > header > h1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
.popup.component > main {
  padding: 0 24px;
}
.popup.component > footer {
  padding: 24px;
  display: flex;
  justify-content: flex-end;
}
@keyframes loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner.component:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--text-color);
  border-color: var(--text-color) transparent var(--text-color) transparent;
  animation: loading-spinner-animation 1.2s linear infinite;
}
@keyframes list-loading-bar-loading {
  0% {
    left: -50%;
  }
  100% {
    left: 100%;
  }
}
.list-loading-bar.component {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--loading-bar-bg-color);
  z-index: 999997;
  overflow: hidden;
}
.list-loading-bar.component::before {
  content: '';
  position: absolute;
  left: -50%;
  width: 50%;
  height: 100%;
  background-color: var(--loading-bar-color);
  animation: list-loading-bar-loading 2s linear infinite;
}
.dropdown-menu.component {
  position: fixed;
  z-index: 999998;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  min-width: 120px;
  overflow: hidden;
}
.dropdown-menu.component > ul {
  display: flex;
  flex-direction: column;
}
.dropdown-menu.component > ul > li > button {
  padding: 8px 12px;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
}
.dropdown-menu.component > ul > li > button:hover {
  background-color: var(--primary-color);
}
.snackbar.component {
  position: fixed;
  left: 0;
  bottom: 20px;
  z-index: 999998;
  width: 100%;
}
@container (width < 1280px) {
  .snackbar.component {
    bottom: calc(110px + env(safe-area-inset-bottom));
  }
}
.snackbar.component > main {
  max-width: 532px;
  width: 90%;
  margin: auto;
  background-color: var(--content-bg-color);
  border: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  border-radius: 19px;
  padding-left: 20px;
  gap: 8px;
}
.snackbar.component > main > p {
  flex-grow: 1;
}
.tabs.component {
  border-bottom: 1px solid var(--line-color);
  display: flex;
  gap: 40px;
  padding: 10px 20px 0;
}
.tabs.component > .tab {
  cursor: pointer;
  min-height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
  padding: 0 10px;
}
.tabs.component > .tab:hover {
  color: var(--primary-color);
}
.tabs.component > .tab.active {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}
.input.component {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.input.component > textarea,
.input.component > input {
  width: 100%;
  border: 1px solid var(--line-color);
  background-color: var(--content-bg-color);
  padding: 8px 12px;
  border-radius: 6px;
}
.input.component > textarea:focus,
.input.component > input:focus {
  border: 1px solid var(--primary-color);
}
.select.component {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.select.component > .value {
  border: 1px solid var(--line-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  line-height: 1em;
  text-transform: capitalize;
}
.select.component > .value:empty::before {
  content: attr(data-empty-message);
  color: var(--disable-color);
}
.select.component > .option-container {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 1;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  background-color: var(--content-bg-color);
  min-width: 120px;
}
.select.component > .option-container > .option {
  padding: 8px 12px;
  text-transform: capitalize;
}
.select.component > .option-container > .option:hover {
  background-color: var(--primary-color);
}
.select.component.open > .value {
  border: 1px solid var(--primary-color);
}
.select.component.open > .option-container {
  display: block;
}
.checkbox.component {
  position: relative;
  height: 27px;
  width: 27px;
}
.checkbox.component > .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
}
.checkbox.component > .checkmark:after {
  display: none;
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--primary-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox.component > input:checked ~ .checkmark {
  background-color: #fff;
}
.checkbox.component > input:checked ~ .checkmark:after {
  display: block;
}
.file-drop-area.component.highlight {
  outline: 2px dotted var(--primary-color);
}
.rich-display.component:empty {
  display: none;
}
.rich-display.component > .image-container > a {
  cursor: pointer;
}
.rich-display.component > .image-container > a > img {
  border-radius: 12px;
  max-height: 320px;
  object-fit: cover;
}
.error-alert.component > main > p {
  word-break: break-all;
}
.warning-message-box.component {
  display: flex;
  background-color: var(--warning-bg-color);
  color: var(--warning-color);
  padding: 12px 16px;
  border-radius: 12px;
  gap: 12px;
}
.warning-message-box.component > i {
  font-size: 24px;
}
.avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
}
@container (width < 1280px) {
  .avatar {
    width: 34px;
    height: 34px;
  }
}
.post-display.social-component {
  position: relative;
  display: flex;
  gap: 10px;
  cursor: pointer;
  padding: 20px;
  /*@media @phone {
        gap: 6px;
    }*/
}
.post-display.social-component > main {
  flex-grow: 1;
}
.post-display.social-component .author-avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  cursor: pointer;
}
@container (width < 1280px) {
  .post-display.social-component .author-avatar {
    width: 34px;
    height: 34px;
  }
}
.post-display.social-component .author {
  padding-top: 4px;
  display: flex;
  gap: 4px;
}
.post-display.social-component .author > .name {
  font-weight: 700;
  cursor: pointer;
}
.post-display.social-component .author > .x-username {
  color: #595959;
  cursor: pointer;
}
.post-display.social-component button.owner-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.post-display.social-component .message {
  margin-top: 6px;
}
.post-display.social-component .rich-display {
  margin-top: 20px;
}
.post-display.social-component .date {
  margin-top: 20px;
  color: #595959;
  font-size: 12px;
}
.post-display.social-component .actions {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.post-display.social-component .actions > button {
  display: flex;
  gap: 16px;
  cursor: pointer;
  align-items: center;
}
.post-thread.social-component > .post-display,
.post-thread.social-component > .post-form {
  border-bottom: 1px solid #242424;
}
.chat-message-display {
  border-radius: 6px;
  background-color: #fff;
  color: #0A0A0A;
  padding: 6px 10px;
}
.chat-message-display > .message {
  word-break: break-all;
}
.chat-message-display > .rich-display {
  margin-top: 4px;
  max-width: 240px;
  max-height: 240px;
}
.chat-message-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chat-message-list > .message-loading-animation {
  position: absolute;
  left: 10px;
  bottom: 0;
}
.chat-message-list-item {
  display: flex;
  gap: 6px;
}
.chat-message-list-item > .author-avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
@container (width < 1280px) {
  .chat-message-list-item > .author-avatar {
    width: 34px;
    height: 34px;
  }
}
.chat-message-list-item > main {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
}
.chat-message-list-item > main > header {
  display: flex;
  gap: 6px;
  align-items: center;
}
.chat-message-list-item > main > header > .author {
  display: flex;
  gap: 6px;
  align-items: center;
}
.chat-message-list-item > main > header > .author > .name {
  font-size: 12px;
  font-weight: bold;
}
.chat-message-list-item > main > header > .date {
  color: #595959;
  font-size: 12px;
}
.chat-message-list-item.authored {
  justify-content: end;
}
.chat-message-list-item.authored > .author-avatar {
  display: none;
}
.chat-message-list-item.authored > main {
  align-items: end;
}
.chat-message-list-item.authored > main > header > .author {
  display: none;
}
.chat-message-list-item.authored > main > .chat-message-display {
  background-color: var(--button-bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.chat-message-form > main {
  border-top: 1px solid var(--line-color);
  height: 56px;
  display: flex;
}
.chat-message-form > main > section.rich {
  display: flex;
  padding: 0 16px;
  align-items: center;
}
.chat-message-form > main > section.rich > button {
  cursor: pointer;
}
.chat-message-form > main > form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 20px;
}
.chat-message-form > main > form > .input-container {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: text;
}
.upload-preview-area {
  border-top: 1px solid var(--line-color);
  background-color: var(--content-bg-color);
  padding: 10px 10px 0 10px;
}
.upload-preview-area:empty {
  display: none;
}
.upload-preview-area::after {
  content: '';
  display: table;
  clear: both;
}
.upload-preview-area > .preview {
  float: left;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.upload-preview-area > .preview.image {
  background-size: cover;
  background-position: center;
}
.upload-preview-area > .preview.file {
  padding: 10px;
  display: flex;
  align-items: end;
  background-color: rgba(0, 0, 0, 0.5);
}
.upload-preview-area > .preview > button.x {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
:root {
  --wrapper-bg-color: #0A0A0A;
  --content-bg-color: #131313;
  --text-color: #fff;
  --line-color: #242424;
  --primary-color: #9B4CFF;
  --popup-bg-color: rgba(0, 0, 0, 0.5);
  --button-bg-color: rgba(155, 76, 255, 0.12);
  --hover-color: rgba(155, 76, 255, 0.12);
  --loading-bar-bg-color: rgba(155, 76, 255, 0.1);
  --loading-bar-color: rgba(155, 76, 255, 0.5);
  --rising-color: #00A67E;
  --falling-color: #FB6565;
}
.layout {
  height: 100%;
}
.layout > main {
  width: 1280px;
  margin: 0 auto;
  padding-top: 56px;
  padding-left: 90px;
  display: flex;
  height: 100%;
  background-color: var(--content-bg-color);
  border-right: 1px solid var(--line-color);
}
@container (width < 1280px) {
  .layout > main {
    width: 100%;
    padding-left: 0;
    padding-bottom: calc(90px + env(safe-area-inset-bottom));
    border-right: none;
  }
}
.layout > main > .content {
  flex-grow: 1;
  position: relative;
}
.layout > main > .sidebar {
  flex-shrink: 0;
}
.title-bar {
  position: fixed;
  left: calc(50% - 1280px / 2 + 90px);
  top: 0;
  z-index: 1;
  width: calc(1280px - 90px - 1px);
  height: 56px;
  background-color: var(--content-bg-color);
  border-bottom: 1px solid var(--line-color);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
@container (width < 1280px) {
  .title-bar {
    left: 0;
    width: 100%;
  }
}
.title-bar > section.user {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 20px;
}
.title-bar-user-display {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 19px;
  padding: 5px 10px 5px 5px;
  cursor: pointer;
}
.title-bar-user-display:hover {
  background-color: var(--primary-color);
}
.title-bar-user-display > .avatar {
  width: 26px;
  height: 26px;
}
.title-bar-user-display > .name {
  font-size: 14px;
  font-weight: bold;
}
.sidebar {
  width: 380px;
  overflow-y: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  border-left: 1px solid var(--line-color);
}
@container (width < 1280px) {
  .sidebar {
    display: none;
  }
}
.sidebar.hidden {
  display: none;
}
.side-panel {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: var(--popup-bg-color);
}
.side-panel > main {
  position: absolute;
  right: 0;
  top: 0;
  width: 360px;
  height: 100%;
  border-left: 1px solid var(--line-color);
  background-color: var(--content-bg-color);
  overflow-y: auto;
  padding-bottom: 120px;
}
.side-panel > main > header {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid var(--line-color);
}
.side-panel > main > header > .signed-user {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}
.side-panel > main > header > .signed-user > .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.side-panel > main > header > .signed-user > .info > .name {
  font-weight: bold;
}
.side-panel > main > header > .signed-user > .info > .x-username {
  color: #595959;
  font-size: 12px;
}
.side-panel > main > header > button.close {
  margin-left: auto;
  padding: 4px 6px;
}
.side-panel > main > section {
  border-bottom: 1px solid var(--line-color);
}
.side-panel > main > section > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
}
.side-panel > main > section > header > h3 {
  color: #595959;
  font-size: 12px;
}
.side-panel > main > section > header > button {
  padding: 4px 6px;
}
.side-panel > main > section > .token-list {
  border-top: 1px solid var(--line-color);
}
.side-panel > main > ul.menu {
  padding: 8px 0;
  border-bottom: 1px solid var(--line-color);
}
.side-panel > main > ul.menu > li > a {
  display: block;
  padding: 8px 20px;
}
.side-panel > main > ul.menu > li > a:hover {
  background-color: var(--hover-color);
}
.token-list {
  position: relative;
}
.token-list.hidden {
  display: none;
}
.token-list-item {
  padding: 12px 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}
.token-list-item > header {
  display: flex;
  align-items: center;
}
.token-list-item > header > .token-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  cursor: pointer;
}
@container (width < 1280px) {
  .token-list-item > header > .token-image {
    width: 34px;
    height: 34px;
  }
}
.token-list-item > main {
  flex-grow: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-list-item > main > .description > a {
  color: var(--primary-color);
  cursor: pointer;
}
.token-list-item > main > .info {
  font-size: 12px;
}
.token-list-item > main > .info > .price.up {
  color: var(--rising-color);
}
.token-list-item > main > .info > .price.down {
  color: var(--falling-color);
}
.create-token-popup > main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.token-info-popup > header {
  display: flex;
  gap: 12px;
}
.token-info-popup > header > .token-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  width: 34px;
  height: 34px;
}
@container (width < 1280px) {
  .token-info-popup > header > .token-image {
    width: 34px;
    height: 34px;
  }
}
.token-info-popup > header > h1 {
  gap: initial !important;
}
.token-info-popup > header > h1 > .symbol {
  margin-left: 16px;
  color: #595959;
  font-size: 16px;
}
.token-info-popup > header > h1 > button {
  margin-left: 6px;
  padding: 0;
  color: #595959;
}
.token-info-popup > main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px !important;
}
.token-info-popup > main section {
  border: 1px solid var(--line-color);
  border-radius: 6px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.token-info-popup > main section h3 {
  color: #595959;
  font-size: 12px;
}
.token-info-popup > main section .value {
  font-size: 16px;
}
.token-info-popup > main > .owner > .info-container {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
}
.token-info-popup > main > .owner > .info-container > .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-info-popup > main > .owner > .info-container > .info > .name {
  color: var(--primary-color);
}
.token-info-popup > main > .owner > .info-container > .info > .x-username {
  color: #595959;
  font-size: 12px;
}
.token-info-popup > main > .metrics {
  width: 100%;
  display: flex;
  gap: 10px;
}
.token-info-popup > main > .metrics > section {
  width: 50%;
}
.token-info-popup > main > .balance {
  flex-direction: row;
  gap: 10px;
}
.token-info-popup > main > .balance > .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.activity-list {
  position: relative;
}
.activity-list.hidden {
  display: none;
}
.activity-list-item {
  padding: 12px 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}
.activity-list-item > header {
  display: flex;
  align-items: center;
}
.activity-list-item > header > .trader-avatar,
.activity-list-item > header > .token-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  cursor: pointer;
}
@container (width < 1280px) {
  .activity-list-item > header > .trader-avatar,
  .activity-list-item > header > .token-image {
    width: 34px;
    height: 34px;
  }
}
.activity-list-item > header > .trader-avatarf {
  margin-right: -8px;
}
.activity-list-item > main {
  flex-grow: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.activity-list-item > main > .description > a {
  color: var(--primary-color);
  cursor: pointer;
}
.activity-list-item > main > .info {
  font-size: 12px;
  color: #595959;
}
.activity-list-item > main > .info > .price.up {
  color: var(--rising-color);
}
.activity-list-item > main > .info > .price.down {
  color: var(--falling-color);
}
.user-list {
  position: relative;
}
.user-list.hidden {
  display: none;
}
.user-list:empty::before {
  display: block;
  content: attr(data-empty-message);
  text-align: center;
  color: #474B54;
  padding: 20px 0;
}
.user-list-item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--line-color);
}
.user-list-item > .avatar {
  margin-right: 12px;
}
.user-list-item > .balance {
  margin-left: 8px;
  padding-left: 8px;
  border-left: 1px solid var(--line-color);
}
.chats-view {
  width: 410px;
  height: 100%;
  overflow-y: scroll;
  border-right: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
@container (width < 1280px) {
  .chats-view {
    width: 100%;
    height: auto;
    overflow-y: visible;
    border-right: none;
  }
}
.chat-room-view {
  position: absolute;
  left: 410px;
  top: 0;
  width: calc(100% - 410px);
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--content-bg-color);
}
@container (width < 1280px) {
  .chat-room-view {
    position: fixed;
    border-radius: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999991;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .chat-room-view.mobile-hidden {
    display: none;
  }
}
.chat-room-view > .chat-message-list {
  height: 0px;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 20px;
}
.chat-room-list > main {
  position: relative;
}
.chat-room-list-item {
  padding: 12px 20px;
  border-bottom: 1px solid var(--line-color);
  cursor: pointer;
}
.chat-room-list-item .last-message {
  font-size: 12px;
  color: #595959;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-room-list-item .last-message > .message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 0;
  flex-grow: 1;
}
.general-chat-room-header {
  height: 60px;
  border-bottom: 1px solid var(--line-color);
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.general-chat-room-header > button.back {
  display: none;
}
@container (width < 1280px) {
  .general-chat-room-header > button.back {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.general-chat-room-header > h1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}
.general-chat-room-list-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.general-chat-room-list-item > h3 {
  font-weight: bold;
}
.token-chat-room-header {
  height: 60px;
  border-bottom: 1px solid var(--line-color);
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.token-chat-room-header > button.back {
  display: none;
}
@container (width < 1280px) {
  .token-chat-room-header > button.back {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.token-chat-room-header > .token-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
  width: 34px;
  height: 34px;
  cursor: pointer;
}
@container (width < 1280px) {
  .token-chat-room-header > .token-image {
    width: 34px;
    height: 34px;
  }
}
.token-chat-room-header > h1 {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.token-chat-room-list-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.token-chat-room-list-item > header {
  display: flex;
  align-items: center;
}
.token-chat-room-list-item > header > .token-image {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #252527;
  background-size: cover;
}
@container (width < 1280px) {
  .token-chat-room-list-item > header > .token-image {
    width: 34px;
    height: 34px;
  }
}
.token-chat-room-list-item > main {
  flex-grow: 1;
  width: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-chat-room-list-item > main > h3 {
  display: flex;
  align-items: center;
  gap: 6px;
}
.token-chat-room-list-item > main > h3 > .name,
.token-chat-room-list-item > main > h3 > .owner {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.token-chat-room-list-item > main > h3 > .name {
  font-weight: bold;
}
.token-chat-room-list-item > main > h3 > .owner {
  font-size: 12px;
  color: #595959;
}
.token-chat-room-list-item > main > h3 > .price {
  flex-shrink: 0;
  margin-left: auto;
  font-size: 12px;
}
.token-chat-room-list-item > main > h3 > .price.up {
  color: var(--rising-color);
}
.token-chat-room-list-item > main > h3 > .price.down {
  color: var(--falling-color);
}

