/*!***********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!../common-style/lib/reset.css ***!
  \***********************************************************************************************************/
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
}
/*!*********************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/less-loader/dist/cjs.js!./public/style/main.less ***!
  \*********************************************************************************************************************************************/
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v30/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v30/o-0NIpQlx3QUlC5A4PNjXhFVZNyE.ttf) format('truetype');
}
:root {
  font-family: 'Noto Sans', sans-serif;
}
:root {
  --primary-color: 246, 189, 72;
  --on-primary-color: 65, 45, 0;
  --secondary-color: 178, 207, 167;
  --on-secondary-color: 31, 54, 26;
  --secondary-container-color: 53, 77, 47;
  --on-secondary-container-color: 206, 235, 194;
  --surface-color: 30, 27, 22;
  --on-surface-color: 233, 225, 217;
  --surface-conatiner-color: 24, 24, 24;
  --on-surface-conatiner-color: 255, 255, 255;
  --outline-color: 154, 143, 128;
  --error-color: 147, 0, 10;
  --on-error-color: 255, 218, 214;
  --overlay-hover-color: 0, 0, 0, 0.2;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  --backdrop-color: 0, 0, 0, 0.2;
  --backdrop-filter: blur(2px);
}
button.component {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  cursor: pointer;
}
button.component.disabled {
  cursor: default;
}
button.component:hover:not(.disabled) {
  background-image: linear-gradient(to bottom, rgba(var(--overlay-hover-color)), rgba(var(--overlay-hover-color)));
  box-shadow: var(--box-shadow);
}
button.component.contained {
  background-color: rgba(var(--primary-color));
  color: rgba(var(--on-primary-color));
  box-shadow: var(--box-shadow);
}
button.component.contained.disabled {
  background-color: rgba(var(--primary-color), 0.3);
  filter: grayscale(1);
}
button.component.outlined {
  color: rgba(var(--primary-color));
  border: 1px solid rgba(var(--primary-color));
  border-radius: 4px;
}
button.component.text {
  color: rgba(var(--primary-color));
}
button.component.text.disabled {
  color: rgba(var(--primary-color), 0.3);
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999998;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--backdrop-color));
  backdrop-filter: var(--backdrop-filter);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.alert.component {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.alert.component > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.alert.component > p {
  padding: 0 24px 20px;
}
.alert.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.confirm.component {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.confirm.component > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.confirm.component > p {
  padding: 0 24px 20px;
}
.confirm.component > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
:root {
  --primary-color: 208, 188, 255;
  --on-primary-color: 56, 30, 114;
}
html,
body {
  background-color: #1b1b1b;
  color: #e1e1e1;
  height: 100%;
  font-size: 14px;
}
.layout {
  padding-top: 60px;
  padding-left: 80px;
  height: 100%;
}
@media only screen and (max-width: 859px) {
  .layout {
    padding-left: 0;
    padding-bottom: 80px;
  }
}
.layout > header {
  position: fixed;
  justify-content: space-between;
  left: 0;
  top: 0;
  background-color: #530087;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}
.layout > header > .logo {
  cursor: pointer;
}
.layout > header > .logo > img {
  height: 32px;
  display: block;
}
.layout > main {
  height: 100%;
}
.layout > nav {
  position: fixed;
  display: flex;
  left: 0;
  top: 60px;
  flex-direction: column;
  background-color: #2d2d2d;
  width: 80px;
  height: calc(100% - 60px);
  padding: 12px 0;
}
@media only screen and (max-width: 859px) {
  .layout > nav {
    top: auto;
    bottom: 0;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding: 0;
    justify-content: center;
  }
}
.layout > nav > a {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  color: #7f7f7f;
}
.layout > nav > a > .icon {
  font-size: 30px;
}
.layout > nav > a:hover {
  color: #e1e1e1;
}
.layout > nav > a.active {
  color: #fff;
}
.token-info-view {
  background-color: #1e1e1e;
  min-height: 100%;
}
.rooms-view {
  height: 100%;
}
.rooms-view > .rooms {
  width: 360px;
  height: 100%;
  border-right: 1px solid #2d2d2d;
  background-color: #1e1e1e;
  overflow-y: auto;
}
@media only screen and (max-width: 859px) {
  .rooms-view > .rooms {
    width: 100%;
    height: auto;
    border: none;
  }
}
.room-view {
  position: fixed;
  left: 440px;
  top: 60px;
  width: calc(100% - 440px);
  height: calc(100% - 60px);
  padding-top: 60px;
  background-color: #222222;
  box-shadow: var(--box-shadow);
}
@media only screen and (max-width: 859px) {
  .room-view {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.activity-view {
  background-color: #1e1e1e;
  min-height: 100%;
  display: flex;
}
.activity-view > .activity-list-container {
  flex: 1 1 0px;
  border-right: 1px solid #2d2d2d;
  overflow-y: auto;
}
.activity-view > .activity-list-container > h2 {
  font-size: 28px;
  color: #666;
  padding: 16px;
}
.settings-view {
  background-color: #1e1e1e;
  min-height: 100%;
}
.user-summary > .twitter-login-button {
  cursor: pointer;
  min-width: 200px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #039be5;
  background-image: linear-gradient(to top right, #039be5, #29b6f6);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
@keyframes token-summary-loading {
  0% {
    background-position-x: -200px;
  }
  100% {
    background-position-x: 200px;
  }
}
.token-summary {
  min-width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1e1e1e;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 14px 0 8px;
  box-shadow: var(--box-shadow);
  font-size: 16px;
  color: #e1e1e1;
  gap: 8px;
}
.token-summary:hover {
  background-color: #2e2e2e;
}
.token-summary > .profile-image {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.token-summary > .symbol {
  font-weight: bold;
  border-right: 1px solid #6e6e6e;
  padding-right: 8px;
}
.token-summary > .price {
  color: #999;
}
.token-summary.loading {
  background: linear-gradient(0.25turn, #1e1e1e, #2e2e2e 45% 55%, #1e1e1e);
  animation: token-summary-loading 2s infinite linear;
}
@keyframes list-loading {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #2b2b2b;
  }
}
.list-loading {
  height: 40px;
  animation: list-loading 1s linear infinite alternate;
}
.room-list {
  border-bottom: 1px solid #2d2d2d;
}
.room-list > header {
  padding: 16px;
  font-size: 16px;
}
.room-item {
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  align-items: center;
}
.room-item > .token-owner-profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.room-item > .room-name {
  font-size: 18px;
  font-weight: bold;
}
.room-item > .token-owner {
  font-size: 12px;
  color: #7f7f7f;
}
.room-title-bar {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1f1f1f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  justify-content: space-between;
}
@media only screen and (max-width: 859px) {
  .room-title-bar {
    background-color: #530087;
  }
}
.token-purchase-form {
  display: none;
  position: absolute;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100% - 60px);
}
.token-purchase-form.show {
  display: block;
}
.token-purchase-form > .buy-token-button {
  width: 260px;
  height: 40px;
  font-weight: bold;
}
.trade-activity-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}
.trade-activity-item > .profile-image-container {
  display: flex;
  flex: 0 0 84px;
}
.trade-activity-item > .profile-image-container > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}
.trade-activity-item > .profile-image-container > .profile-image:last-of-type {
  margin-left: -12px;
}
.trade-activity-item > .info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.trade-activity-item > .info-container > .info > .name {
  font-weight: bold;
}
.trade-activity-item > .info-container > .info > .price {
  color: rgba(var(--primary-color));
}
.token-created-activity-item {
  display: flex;
  padding: 8px 16px;
  gap: 16px;
}
.token-created-activity-item > .profile-image-container {
  display: flex;
  flex: 0 0 48px;
}
.token-created-activity-item > .profile-image-container > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}
.token-created-activity-item > .info-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.token-created-activity-item > .info-container > .info > .name {
  font-weight: bold;
}
.change-chain-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.change-chain-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.change-chain-popup > main {
  padding: 0 24px 20px;
}
.change-chain-popup > main > img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.change-chain-popup > main > p {
  margin-bottom: 20px;
}
.change-chain-popup > main > a {
  color: rgba(var(--primary-color));
}
.change-chain-popup > main > a:hover {
  text-decoration: underline;
}
.change-chain-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.connect-wallet-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.connect-wallet-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.connect-wallet-popup > main {
  padding: 0 24px 20px;
}
.connect-wallet-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.create-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.create-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.create-token-popup > main {
  padding: 0 24px 20px;
}
.create-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.token-info-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.token-info-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  display: flex;
  align-items: center;
  gap: 12px;
}
.token-info-popup > h1 > .profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.token-info-popup > h1 > .name {
  font-weight: bold;
}
.token-info-popup > h1 > .symbol {
  flex-grow: 1;
  font-size: 16px;
  color: #999;
}
.token-info-popup > h1 > .price {
  font-size: 16px;
  color: #999;
}
.token-info-popup > main {
  padding: 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
.token-info-popup > main > .balance {
  height: 36px;
  border-radius: 18px;
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  padding: 0 14px 0 8px;
  box-shadow: var(--box-shadow);
  font-size: 16px;
  color: #e1e1e1;
  gap: 8px;
}
.token-info-popup > main > .balance > .profile-image {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.token-info-popup > main > .balance > label {
  font-weight: bold;
  border-right: 1px solid #6e6e6e;
  padding-right: 8px;
}
.token-info-popup > main > .balance > .balance {
  color: #999;
}
.token-info-popup > footer {
  border-top: 1px solid rgba(var(--on-surface-conatiner-color), 0.1);
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.trade-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.trade-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.trade-token-popup > main {
  padding: 0 24px 20px;
}
.trade-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.buy-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.buy-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.buy-token-popup > main {
  padding: 0 24px 20px;
}
.buy-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}
.sell-token-popup {
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: rgba(var(--surface-conatiner-color));
  color: rgba(var(--on-surface-conatiner-color));
}
.sell-token-popup > h1 {
  padding: 16px 24px;
  font-size: 20px;
  font-weight: bold;
}
.sell-token-popup > main {
  padding: 0 24px 20px;
}
.sell-token-popup > footer {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

