.rooms-view {
    height: 100%;

    >.rooms {
        width           : 360px;
        height          : 100%;
        border-right    : 1px solid #2d2d2d;
        background-color: #1e1e1e;

        @media @phone {
            width : 100%;
            height: auto;
            border: none;
        }
    }
}