.side-panel {
    position        : fixed;
    left            : 0;
    top             : 0;
    z-index         : 999998;
    width           : 100%;
    height          : 100%;
    background-color: var(--popup-bg-color);

    >main {
        position        : absolute;
        right           : 0;
        top             : 0;
        width           : 360px;
        height          : 100%;
        border-left     : 1px solid var(--line-color);
        background-color: var(--content-bg-color);
    }
}